.pagina{
    display: grid;                       /*arreglo grid */
    grid-template-columns: 200px 100px;    /* dos columnas con esos anchos respectivamente*/
    

    grid-template-areas:                 /*distribución*/
        "header header"
        "menu contenido"
        "footer footer";

                                 /* separación */  
}

header{
    grid-area:header;

}
aside {
    grid-area: menu;
}

main{
    grid-area: contenido;
}

footer{
    grid-area: footer;
}

.item{
    display: flex;              /*asigna eje principal horizontal*/
    justify-content: center;    /*centra la posición en el eje*/
    align-items: center;        /*centra los elementos verticalmente*/

    padding: 20px;             /*Box Model*/
    border: 20px black;
    margin: 100px;
}

/* PANTALLA PEQUEÑA */
@media (max-width: 1000px) {

    .pagina {
        grid-template-columns: 1fr;

        grid-template-areas:
            "header"
            "menu"
            "contenido"
            "footer";
    }
}